div.grupoAlura{
    display: flex;
    background:var(--cor-de-fundo);
    border-top: 1px var(--cinza) solid;
    align-items: center;
    padding-left: 24px ;

}
div.grupoAlura a{
    text-decoration: none;
    color: inherit;
    line-height: 24px;
    
}
.lista__footer {
    display: none;
}
@media screen and (min-width: 1024px){
    /* footer {
        height: 513px;

    } */
    div.grupoAlura{
        /* height: 513px; */
        padding-top: 56px;
        justify-content: space-between;
        align-items: start;
    }

    .grupoAlura--wordmark {
        font-size: 24px;
    }

    .footer--1024px{
        display: flex;
        justify-content: space-between;

    }
    .lista__footer{
        display: block;
    }
    .lista__footer-link a {
        display: flex;
        font-size: 14px;
        margin-top: 16px;
        align-items: center;
        color: var(--cinza-escuro);
        text-decoration: none;
      }
      
      .lista__footer-link img {
        margin-right: 10px;
        /* align-self: center; */
      }
      .lista__footer p{
        color: var(--cinza);
        font-size: 14px;
        padding-bottom: 25px;
      }

}
@media screen and (min-width: 1728px){
   
    div.grupoAlura{
        padding-left: 212px;
    }
    .lista__footer{
        border-left: 1px solid var(--cinza);
        height: 396px;
        padding-left: 20px;
    }
}
    

  
  