div.grupoAlura{
    display: flex;
    background:var(--cor-de-fundo);
    border-top: 1px var(--cinza) solid;
    height: 64px;
    align-items: center;
    padding-left: 24px ;

}
div.grupoAlura a{
    text-decoration: none;
    color: inherit;
    line-height: 24px;
    
}