
.cabecalho {
    background-color: var(--cor-de-fundo-itens);
}

.cabecalho__conteudo{

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.link__cabecalho{
    text-align: center;
    

}
.containers__header{
    height: 80px;
    display: flex;
    align-items: center;
}
.link__cabecalho-menu {
    width: 48px;
    height: 100%;
    /* background:var(--gradiente); */
    display: flex;
    justify-content: center;
    align-items: center;
        
    
}


.link__cabecalho-logo {
    margin-left: 10px;
    display: flex;
}
.logoAlura{

    display: none;
}
.containers__header-center {
    display: none;
}

/* menu deslizante*/
.categorias__menu {
    display: none;
}
.botao__check-menu {
    display: none;
}
.botao__check-menu:checked ~ .categorias__menu {
    display: block;
    position: absolute;
}

/* .categorias__menu {
    width: 300px;
    height: 344px;
} */
.categoria {
    background-color: var(--cor-de-fundo-itens);
}
.categoria__titulo{
    padding: 1em;
    font-weight: 700;
    color: var(--titulo_destaque);
    font-size: 16px 24px;
}
.categoria__itens:hover{
    background: var(--gradiente);
    cursor: pointer;
    
}
.itens__categoria{
    display: block;
    width: 300px;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    background-image: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.itens__categoria:hover{
    -webkit-text-fill-color: white;

}
.link__cabecalho a p {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__conteudo{
        padding-right: 80px;
    }
    
    .link__cabecalho-logo {
        padding-left: 48px;
    }
    .logoAlura {
        padding-left: 5px;
        align-self:flex-end;
        display: block;
    }
   
    
    .logoAlura,  .logoAlura--negrito {
        font-size: 30px;
        font-family: var(--fonte-secundaria);
        
    }
   
    .logoAlura--negrito {
        font-weight: 700;

    }
    .containers__header-center {
        display: flex;
        justify-content: space-evenly;
        padding-left: 80px;
    }
    .header-center--links{
        padding-left: 32px;
        text-decoration: none;
        color: var(--preto);
    }
    .containers__header-center--categorias{
        padding-right: 15px;
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 15px;
    }
    .containers__header-center--categorias:hover{
        cursor: pointer;
    }
    .container__header-right{
        width: 200px;
        display: flex;

        justify-content: space-between;
    }
    .link__cabecalho-curtir{
        display: none;
        
    }
    .link__cabecalho-menu {
        display: none;
    }
    .opcoes__botao-categoria {
        display: block;
        position: absolute;
    }
    .check-menu--categorias{
        display: none;
    }
   
    .categorias__menu2 {
        display: none;
        position: absolute;
        width: auto;
        
    }
    
    
    .check-menu--categorias:checked ~ .categorias__menu2 {
        display:block;

    }
   
    
    
}
@media screen and (min-width: 1728px){
    .link__cabecalho-logo {
        padding: 0;
        margin: 0;
    }
    .cabecalho__conteudo {
        padding-left: 80px;
    }
    
    .containers__header-center{
        width: 897px;
        justify-content: start;
        padding-left: 0;
    }
    .container__header-right{
        width: 375px;
    }
    .link__cabecalho a p {
        display: block;
    }
    
    .link__cabecalho a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

  

}