.sessao_Novidades {
    background: var(--cor-de-fundo-itens);
    padding: 24px;
}
h5.titulo_Footer, .txt_Footer {
    margin-bottom: 24px;
    background: var(--gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
h5.titulo_Footer{
    font-size: 18px;
    line-height: 27px;
}
.txt_Footer {
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
   
    
}

.botao_CadastrarEmail {
    border-radius: 24px;
    border: solid 1px var(--cor-secundaria_azul);
    padding: 1em 2em;
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
.botao_CadastrarEmail::placeholder{
    background: url("../assets/imagens/Email.svg") no-repeat  left;
    padding: 2em;
    color: var(--cor-secundaria_azul);
    font-size: 16px;

}
